apiVersion: v1
kind: Secret
metadata:
  name: credentials
  namespace: taiga
type: Opaque
data:
  # secrets
  TAIGA_DB_PASSWORD: "{{ taiga.db_password | b64encode }}"
  DB_PASS: "{{ taiga.db_password | b64encode }}"
  TAIGA_SECRET_KEY: "{{ taiga.secret_key | b64encode }}"
  TAIGA_EMAIL_PASS: "{{ taiga.email.password | b64encode }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: configuration
  namespace: taiga
data:
  TAIGA_HOSTNAME: "taiga.{{ cluster.domain }}"
  USER_EMAIL_ALLOWED_DOMAINS: "{{ taiga.email.allowed_domains }}"
  TAIGA_EMAIL_FROM: "{{ taiga.email.from }}"
  TAIGA_EMAIL_HOST: "{{ taiga.email.host }}"
  TAIGA_EMAIL_USER: "{{ taiga.email.username }}"
  # default attributes
  PUBLIC_REGISTER_ENABLED: "True"
  TAIGA_SSL_BY_REVERSE_PROXY: "True"
  TAIGA_ENABLE_EMAIL: "True"
  TAIGA_EMAIL_USE_TLS: "True"
  TAIGA_EMAIL_PORT: "587"
  TAIGA_DB_HOST: 127.0.0.1
  TAIGA_DB_USER: taiga
  TAIGA_DB_NAME: taiga
  DB_USER: taiga
  DB_NAME: taiga
  conf.json: |
    {
      "api": "https://taiga.{{ cluster.domain }}/api/v1/",
      "eventsUrl": null,
      "debug": true,
      "debugInfo": false,
      "defaultLanguage": "en",
      "publicRegisterEnabled": true,
      "gravatar": false,
      "feedbackEnabled": true,
      "privacyPolicyUrl": null,
      "termsOfServiceUrl": null,
      "maxUploadFileSize": null,
      "contribPlugins": []
    }
  local.py: |
    import os
    from .docker import *
    DEBUG = False
    TEMPLATE_DEBUG = False
    PUBLIC_REGISTER_ENABLED = os.getenv('PUBLIC_REGISTER_ENABLED', "false").lower() == "true"
    USER_EMAIL_ALLOWED_DOMAINS = os.getenv('USER_EMAIL_ALLOWED_DOMAINS', "")
    MEDIA_URL = "https://" + os.getenv('TAIGA_HOSTNAME') + "/media/"
