apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: taiga
  namespace: taiga
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
  - hosts:
    - taiga.{{ cluster.domain }}
    secretName: {{ cluster.name }}-tls
  rules:
  - host: taiga.{{ cluster.domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: taiga
          servicePort: 80
