
include ../../services/kubernetes/etc/help.mk
include ../../services/kubernetes/etc/cli.mk

# https://wiki.hetzner.de/index.php/Backup_Space_SSH_Keys

configure: backup-config/id_rsa_rfc.pub backup-config/known_hosts ##@setup create configuration beyond templates

backup-config/known_hosts:
	ssh {{ groups['all'][0] }} -- ssh-keyscan {{ taiga.backup.host }} > backup-config/known_hosts

backup-config/id_rsa_rfc.pub: backup-config/id_rsa
	ssh-keygen -e -f backup-config/id_rsa.pub | grep -v "Comment:" > backup-config/id_rsa_rfc.pub

backup-config/id_rsa:
	ssh-keygen -f backup-config/id_rsa -N ''

deploy: ##@setup apply configuration to kubernetes
	$(CLI) bash -c "kubectl -n taiga create secret generic backup-config --from-file=backup-config --dry-run -o json | kubectl apply -f -"
	$(CLI) kubectl apply -f ingress.yaml -f configuration.yaml
